body {
  background-image: url("https://images.idgesg.net/images/idge/imported/imageapi/2019/07/26/15/cloud_istock_harnnarong-100803439-large.jpg");
  font-family: Arial, Helvetica, sans-serif;
}

.weather-app {
  padding: 60px;
  border: 6px solid;
  max-width: 600px;
  margin: 50px auto;
  border-radius: 10px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

img {
  opacity: 75%;
}
